.wrapper-home{
    display:flex;
    width: 100%;
    flex-flow: column ;
    /* justify-content: start; */
    /* background-color: white; */
    align-items: center;
    /* height: 800px; */
}
ul{
    list-style: none;
}
table{
    border: 1px solid #333;
}

thead{
    height: 70px;
    background-color: #333;
    color: #fff;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;

}

tr{
    width: 100%;
    height: 40px;
    text-align: start;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
}
.col1{
    flex-basis: 20%;
}
.col2{
    flex-basis: 10%;
}
.col3{
    flex-basis: 10%;
}
.col4{
    flex-basis: 10%;
}
.col5{
    flex-basis: 20%;
}
.col6{
    flex-basis: 10%;
}
.col7{
    flex-basis: 10%;
}





.button-add-movie{
    height: 40px;
    width: 60%;
    margin: 20px 0%;
    margin-top: 50px;
    background-color: teal;
    color: white;
    font-size: 15px;
    font-weight: bold;

}
select{
    text-align: center;
    
}
div{
    width: 100%;

}
